keras==3.4.1
matplotlib==3.9.1
matplotlib-inline==0.1.7
numpy==1.26.4
pandas==2.2.2
plotly==5.24.1
pyjokes==0.8.3
requests==2.32.3
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
streamlit==1.36.0
streamlit-option-menu==0.3.13
tensorflow==2.17.0
tensorflow-intel==2.17.0
